.fontImage img {
    width: 1170px;
    height: 200px;
    position: relative;
    margin-top: 4px;
}

.fontImage h2 {
    position: absolute;
    top: 23%;
    left: 44.2%;
    font-size: 36px;
    color: white;
}

.fontImage {
    margin-bottom: 80px;
}
