
.wrapper {
    display: flex;
    padding-top: 45px;
}

.grid1 {
    width: 50vw;
    flex: 4;
}

.grid1 h2 {
    font-size: 30px;
    margin-left: 176px; 
    color: #FE7900;
    margin-bottom: 20px;
}
.grid1 img {
    width: 436px;
    height: 308px;
    margin-left: 176px; 
}

.grid2 {
    padding-left: 10px;
    min-height: 500px;
    width: 50vw;
    flex: 6;
}



.row1 img {
    height: 150px;
    width: 208px;
    padding: 8px;
}
.row2 img {
    height: 138px;
    width: 208px;
    padding: 8px;
}
.row3 img {
    height: 138px;
    width: 208px;
    padding: 8px;
}



.title h2 {
    font-size: 18px;
}

.content p {
    font-size: 14px;
}

.content {
    margin-left: 176px; 
    margin-top: 23px;
}

.title {
    margin-bottom: 10px;
}