.carousel {
    text-align: center;
    position: relative;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-container h2 {
    position: absolute;
    top: 10%;
    color: #fe7900;
    font-size: 35px;
}

.movie-cards {
    display: flex;
    gap: 2px;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 27%;
    will-change: transform;
    transition: transform 0.6s ease-in-out;
}

.movie-card {
    overflow: hidden;
    transition: transform 0.5s ease;
}

.movie-card img {
    width: 192px;
    height: 329px;
}

.prev-carousel-button {
    background-color: #938b81;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    position: absolute;
    left: 40%;
    top: 73%;
    transition: all 0.5s;
}

.next-carousel-button {
  background-color: #938b81;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  position: absolute;
  left: 57.7%;
  top: 73%;
  transition: all 0.5s;
}

.prev-carousel-button:hover {
    background-color: rgb(208, 207, 201);
    transition: all 0.5s;
}

.next-carousel-button:hover {
    background-color: rgb(208, 207, 201);
    transition: all 0.5s;
}

.carousel-button:hover {
    background-color: #ec971f;
}

.img-carousel img {
    height: 706px;
    width: 100vw;
}

.img-carousel {
    position: relative;
}

.movie-card.active {
    transform: scale(1.2); /* Phóng to thẻ ở giữa */
    transition: all 0.5s ease 1s;
}


.content-slider {
    display: none;
}

.content-slider.active {
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #ec971f;
    right: 0;
    left: 0;
    min-height: 100px;
    padding: 20px 10px;

}

.content-slider.active a {
    text-decoration: none;
    color: rgb(239, 234, 234);
    
}

.content-slider.active a:hover {
    color: rgb(26, 25, 25);
    transition: 0.5s;
    text-decoration: none;
}

.a-content {
    margin-top: 10px;
    display: flex;
    gap: 30px;
}