.grid2 {
    margin-bottom: 20px;
}

.blog2 {
    width: 545px;
    text-align: center;
}

.blog2 a {
    font-size: 19px; 
}


.blog2 img {
    width: 545px;
    height: 363.33px;
}

.aTitle {
    font-weight: 600;
    
}

.blogTitle {
    margin-top: 5px;    
}

.Readmore {
    background: #fe7900;
    padding: 5px 10px;
    color: #fff;
    border-radius: 15px;
    display: block;
    width: 83px;
    height: 28px;
    margin-left: 230px;
    margin-top: 20px;
    text-decoration: none;
}

.Readmore span {
    font-size: 15px;
    display: block;
}

.contentSpan {
    display: block;
    line-height: 30px;
}