.wrapper {
    width: 1140px;
    display: flex;
    gap: 35px;
    padding-top: 25px;
    overflow: hidden;
    transition: transform 0.5s ease;
    position: relative;
    
    
}

.thumb img {
    height: 345px;
    width: 200px;
    transition: transform 0.5s ease;
    backface-visibility: hidden;
}

.OnImgButton {
    display: flex;
    gap: 20px;
}

.OnImgButton a {
    text-decoration: none;
    color: rgb(68, 65, 65);
    margin-top: 15px;
}

.OnImgButton a:hover {
    color: red;
    transition: 0.5s;
    text-decoration: none;
}

.content:hover .openclick {
    opacity: 1;
    transition: all 0.5s ease 0s;
}

.articleitem {
    position: relative;
}

.openclick {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 17.5%;
    padding: 10px;
    opacity: 0;
    cursor: default;
    background: rgba(0, 0, 0, 0.85) none repeat scroll 0 0;
    color: white;
    z-index: 2;
    transition: all 0.5s ease 0s;
    
}



.descOpen {
    font-size: 14px;
    margin-top: 50px;
}
.descOpen p {
    margin-top: 4px;
}

.buttonOpen {
    margin-top: 157px;
    display: flex;
    gap: 20px;
}
