footer {
    background-color: #333;
    color: #fff;
    
    padding: 20px 0;
    width: 100vw;
    height: 300px;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.footerContent p {
    margin-top: 10px;
    width: 263px;
}

.socials {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    flex: 6;
}

.socials li {
    display: inline;
}

.socials a {
    color: #fff;
    text-decoration: none;
}

.socials a:hover {
    text-decoration: underline;
}
.content1 {
    flex: 4;
    
}

.content1 img {
    width: 160px;
    height: 45px;
    margin-top: 30px;
}