.slide a img {
    width: 1476px;
    height: 461px;
}

.MultiDisplay {
    
    display: none;
    color: aliceblue;
}

.MultiDisplay.active {
    transition: 0.5s;
}

.TextOnImg {
    position: absolute;
    top: 210px;
    left: 233px;
}


.TextOnImg p {
margin-bottom: 4px;
}

.TextOnImg h1 {
    font-size: 45px;
    font-weight: 700;
    color: #aa5555;
    transition: 0.5s;
}
.TextOnImg h1:hover {
    color: red;
    transition: 0.5s;
}

.pagination {
    display: flex;
    color:rgb(228, 228, 228);
    gap: 10px;
    position: absolute;
    top: 485px;
    left: 80px;
    list-style-type: none;
}
.pagination li button {
    background : #000;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 17px;
    border: #000;
}

.pagination li button:hover {
    background : #884c4c;
}

.slickPrev, .slickNext {
    background-color: transparent;   /* Màu nền */
    color: rgb(255, 255, 255);             /* Màu chữ */
    border: none;             /* Bỏ viền */
    padding: 10px 5px;       /* Khoảng cách bên trong */
    cursor: pointer;          /* Thay đổi con trỏ khi hover */
    position: absolute;       /* Định vị */
    top: 41%;                 /* Vị trí giữa slider */
    z-index: 1;               /* Đảm bảo nút nằm trên cùng */
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: 800;
}

.slickPrev {
    left: 2px;               /* Định vị nút trái */
}

.slickNext {
    right: 2px;              /* Định vị nút phải */
}

.slickPrev:hover, .slickNext:hover {
    color: #aa5555;   /* Màu nền khi hover */
}
.OnImgDate{
    display: flex;
    gap: 15px;
    margin-top: 6px;   
    margin-bottom: 22px;
}

.OnImgButton {
    display: flex;
    gap: 20px;  
}

.OnImgButton a {
    text-decoration: none; 
    color: white;
}


.OnImgButton a:hover {
    color: red;
    transition: 0.5s;
    text-decoration: none;
}